/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dawning+of+a+New+Day&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&family=Oooh+Baby&family=Playwrite+AU+NSW:wght@100..400&family=Tangerine:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Font sizes of the paragraphs, headdings and forms text*/
.font-size-s {
   font-size: 12px;
   color: #1a1813;

}

.font-size-m {
   font-size: 14px;
   color: #1a1813;
   
}

.font-size-l {
   font-size: 16px;
   color: #1a1813;

}

.text-form-style {
   font-size: 14px;
   color: #1a1813;
    color: rgb(244, 228, 209);
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: "Montserrat", sans-serif;
}

h1 {
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   text-decoration: underline;
   margin: 30px 0;
}

/*Header*/
header {
   padding: 3px 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* background: linear-gradient(265deg, #b9e1f6, rgb(90, 172, 227), #b4e1f5);  */
   /* background: linear-gradient(248deg, #f9fafa, rgb(171, 218, 229), rgb(255, 255, 255)); */
   background-color: rgb(235, 197, 154);
   box-shadow: 0 0.3px 0.8px #858484;
   position: fixed;
   z-index: 99;
   width: 100%;

}


/*Making M and A show in the same line*/
header>a p {
   display: inline;
   font-family: "Lato", sans-serif;
}

nav {
   /* background: linear-gradient(274deg, #f9fafa, rgb(171, 218, 229), rgb(255, 255, 255)); */
   background-color: rgb(235, 197, 154);
   width: 100%;
   position: absolute;
   display: none;
   top: 100%;
   left: 0;
}

#menu {
   border-top: 1px solid #8584849a;
}

#menu li {

   padding: 10px 30px;
   font-family: "Lato", sans-serif;
   font-size: 12px;
   letter-spacing: 2px;
   color: #312D24;
   list-style-type: none;
   line-height: 20px;
   text-transform: uppercase;

}


.nav-bar-label {
   color: #312D24;
   font-size: 24px;
   margin: 2px 5px;
}

/*Navbar toggle*/
#nav-bar:checked~nav {
   display: block;
}

#nav-bar {
   display: none;
}


header a {
   text-decoration: none;
   color: inherit;
}

/*main*/
main {
   /* background: linear-gradient(250deg, #f9fafa, rgb(48, 173, 207), rgb(255, 255, 255)); */
   background-color: rgb(235, 197, 154);
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
}

/*Home section*/
#home {
   min-height: 100vh;
   background: url("../images/hero-image.jpg") no-repeat 38% 20px/cover fixed;

}

span {
   display: block;

}

.couple-text {
   position: absolute;
   font-family: "Oooh Baby", cursive;
   font-size: 24px;
   padding-left: 5px;
   letter-spacing: 2px;
   line-height: 28px;
   text-align: start;
   color: #1a1813;
   top: 37%;

}

.wedding-date {
   font-size: 9px;
   display: inline;
   font-family: "Lato", sans-serif;
   padding-left: 20px;
}

/*Our Story Section*/
#our-story {
   display: flex;
   flex-direction: column;
   font-family: "Montserrat", sans-serif;

}

#welcome {
   margin-top: 20px;
   text-align: center;
}

#welcome div {
   padding: 20px 15px;
}

.welcome-title {
   font-family: "Lato", sans-serif;
   font-weight: 400;

}

#welcome h2 {
   letter-spacing: 2px;
   line-height: 20px;
   font-weight: 400;
   text-transform: uppercase;

}

#svg-mark {
   text-align: center;
   padding: 40px 0;
}

.our-story {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.our-story p {
   font-family: "Montserrat", sans-serif;
   letter-spacing: 2px;
   line-height: 20px;
   padding: 5px;
}

.our-story h2 {
   font-family: "Lato", sans-serif;
   letter-spacing: 2px;
   margin: 15px 0;
}

#bottom-border {
   margin-bottom: 25px;
}

.our-story-message1 {
   padding: 10px 15px;
   text-align: start;
}

.our-story-message2 {
   text-align: start;
   padding: 0px 15px;

}

.image {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 5px;

}

.image img {

   margin-top: 5px;
   padding: 5px;
   width: 250px;

}




/*Details Section*/
#details {

   background-color: rgb(200, 168, 130);
   font-family: "Montserrat", sans-serif;
   display: flex;
   flex-direction: column;


}

#brief-msg {
   font-family: "Lato", sans-serif;
   letter-spacing: 2px;
   line-height: 20px;
   padding: 60px 15px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 400;
}

.events-img {
   width: 100%;
   padding: 15px;

}

#ceremony-title,
#celebration-title {
   display: flex;
   width: 65%;
   justify-content: space-around;
   align-items: baseline;
   padding: 15px 15px;


}

#ceremony-title h2,
#celebration-title h2 {
   font-family: "Lato", sans-serif;
}

.text-details {
   line-height: 20px;
   letter-spacing: 2px;
   text-align: start;
   padding: 10px 15px;
   padding-top: 0;
}

.where-when {

   text-align: start;
   line-height: 20px;
   letter-spacing: 2px;
   padding: 0 15px;
   padding-bottom: 30px;
}

.where-when h3 {
   padding: 10px 0;
   font-family: "Lato", sans-serif;
}

iframe {
   border: 0;
   padding: 0 15px;
}

/*Gallery Section*/


.photos img {
   width: 100%;
}

.photos {
   line-height: 0;
   padding: 10px;
}

/*RSVP Section*/
#rsvp {
   background: url("../images/form-img.JPEG") no-repeat  50% 100%/cover;
    padding: 30px 10% 0 10%;
   flex-grow: 1;
}

#signup-form {
   padding: 30px 20px;
   background-color: rgba(107, 105, 102, 0.8);
   text-align: start;
   letter-spacing: 2px;
   line-height: 20px;
   color: rgb(244, 228, 209);

}
 
.form-heading {
   font-size: 20px;
   font-family: "Lato", sans-serif;
   padding-bottom: 20px;
   letter-spacing: 2px;
   line-height: 30px;

}

.rsvp-heading {
   color: rgb(244, 228, 209);
   display: flex;
   flex-direction: column;
  
}

.rsvp-heading>h2 {
   text-align: center;
   padding: 40px 20px;
   letter-spacing: 2px;
   line-height: 20px;
}

.rsvp-heading>h3 {
   text-align: center;
   letter-spacing: 2px;
   line-height: 20px;
}

/*Taken from love-running*/
.text-input {
   color: #1a1813;
   background: transparent;
   border: 1px solid rgb(244, 228, 209);
   border-radius: 2px;
   height: 25px;
   width: 100%;
   margin: 5px 0 20px 0;
   padding: 0 5px;

}

.radio-btn {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 20px;

}

.radio-btn-alignment {
   display: flex;
   margin-top: 10px;
   
}

input[type="radio"] {
   margin-left: 15px;
   /* margin-bottom: 1px; */
}

.confirm-button {
  
   border-radius: 2.5px;
   background-color: rgb(92, 77, 60);
   color: rgb(244, 228, 209);
   padding: 15px 32px;
   font-size: 100%;
   margin: 20px;
}

.dropdown-adults {
   margin-bottom: 20px;
}
#number-of-adults {
   margin-top: 10px;
   color: rgb(71, 67, 61);
}
/*Footer Section*/
footer {
   background-color: rgb(210, 176, 138);


}

.footer {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   padding: 20px 15px;
}

#social-networks {
   display: flex;
   list-style-type: none;

}

#social-networks i {
   padding-right: 15px;
   color: #312D24;
   font-size: 24px;
}

/*Media query: Large or landscape phones (576px and up)*/
@media screen and (min-width:576px) {
   .photos {
      column-count: 2;
      column-gap: 1;
      line-height: 2;
      padding: 0 15px;
   }

   #gallery h2 {
      font-size: 140%;
      text-align: center;
   }

}


/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {


   /* Make "Amanda & Marcus" heading bigger*/
   .couple-text {
      font-size: 220%;
      letter-spacing: 4px;
      top: 70%;
      padding-left: 10%;
   }

   .wedding-date {
      font-size: 10px;
      letter-spacing: 2px;
   }

   #ceremony-title,
   #celebration-title {
      width: 20%;
      padding: 0 0 20px 0;
   }

   .text-details {
      text-align: center;
      padding: 0px 100px 30px 100px;
   }

   iframe {
      width: 100%;
      height: 300px;
      padding-top: 10px;
      padding-bottom: 30px;
   }

   .image img {
      width: 50%;
      padding: 10px 15px;
   }

}

/*Media Query: laptop and desktop (992px and up)*/
@media screen and (min-width: 992px) {

   header>a {
      font-size: 18px;
   }

   .photos {
      column-count: 3;
      column-gap: 1;
      line-height: 3;
      padding: 20px;
   }

   nav {
      margin: 0;
      position: relative;
      display: block;
      box-shadow: none;
   }

   /*Make the list show in a row instead of colunm*/
   #menu {
      display: flex;
      justify-content: end;
      border: none;
   }

   #menu li {
      padding: 10px;
   }

   #menu a {
      font-size: 160%;
      padding: 0 15px;

   }

   /* Make "Amanda & Marcus" heading bigger*/
   .couple-text {
      font-size: 350%;
      letter-spacing: 3.2px;
   }

   #brief-msg {
      padding: 60px 80px;
   }

   .our-story-message2 h2,
   .our-story-message1 h2 {
      justify-self: start;

   }

   .wedding-date {
      font-size: 12px;
   }

   .nav-bar-label {
      display: none;
   }

   /*Font sizes of the paragraphs and headdings*/
   .font-size-s {
      font-size: 14px;
      letter-spacing: 2.2px;
   }

   .font-size-m {
      font-size: 16px;
      letter-spacing: 2.2px;
   }

   .font-size-l {
      font-size: 18px;
      letter-spacing: 2.2px;
   }

   h1 {
      font-size: 18px;
      letter-spacing: 2.2px;

   }

   .our-story {
      display: flex;

   }


   .our-story-message1 {

      padding: 0 10px;
      margin: 0;

   }

   .our-story-message2 {

      padding: 0 10px;
      margin-bottom: 10px;

   }

   .text-details {
      padding: 0 100px;
      text-align: center;
   }

}

/*Media query: Desktop with larger screen (1250px and up)*/
@media screen and (min-width: 1250px) {

   .photos {
      column-count: 4;
      column-gap: 30px;
      line-height: 4;
      padding: 0 30px;
   }

   /*Make the hero image position better*/
   #home {
      background: url("../images/hero-image2.jpg") no-repeat 40% 5%/cover;
      background-attachment: fixed;


   }

   .couple-text {
      font-size: 4rem;

   }
}