/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dawning+of+a+New+Day&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&family=Oooh+Baby&family=Playwrite+AU+NSW:wght@100..400&family=Tangerine:wght@400;700&display=swap');* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: "Caveat", cursive;
}

header h1 {
   font-size: 1.8rem;
   font-family: "Baskervville", serif;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: rgb(20, 56, 89);



}

/*Header*/
header {
   padding: 5px 10px;
   display: flex;
   align-items:center; 
   justify-content: space-between;
   /* background: linear-gradient(265deg, #b9e1f6, rgb(90, 172, 227), #b4e1f5);  */
   /* background: linear-gradient(248deg, #f9fafa, rgb(171, 218, 229), rgb(255, 255, 255)); */
   background-color: rgb(185, 232, 252);
   box-shadow: 0 0.3px 0.8px  #858484; 
   position: fixed;
   z-index: 99;
   width: 100%;

}


/*Making M and A show in the same line*/
header>a p {
   display: inline;
   font-family: "Lato", sans-serif;
}

nav {
   /* background: linear-gradient(274deg, #f9fafa, rgb(171, 218, 229), rgb(255, 255, 255)); */
   background-color: rgb(185, 232, 252);
   width: 100%;
   position: absolute;  
   display: none;   
   top:100%;
   left: 0;
}
#menu {
   border-top: 1px solid #8584849a;
}
#menu li {

   padding: 10px  30px ;
font-family: "Lato", sans-serif;
   font-size: 12px;
  letter-spacing: 2px;
   color:#312D24;
   list-style-type: none;
   line-height: 20px;
   text-transform: uppercase;

}


.nav-bar-label {
   /* color: rgb(193, 247, 249); */

   border-radius: 20%;
   color: #312D24;
   font-size: 24px;
   margin: 2px 5px;
}
/*Navbar toggle*/
#nav-bar:checked~nav {
   display: block;
}

#nav-bar {
   display: none;
}


header a {
   text-decoration: none;
   color: inherit;
}

/*main*/
main {
   /* background: linear-gradient(250deg, #f9fafa, rgb(48, 173, 207), rgb(255, 255, 255)); */
   background-color: rgb(185, 232, 252);
   flex: 1 0 auto;
}

/*Home section*/
#home {
   min-height: 100vh;
   background: rgb(134, 239, 244) url("../images/hero-image.jpg") no-repeat 40%  30px/cover fixed;
      
}

span {
   display: block;
   
}

.couple-text {
   position: absolute;
   font-family: "Oooh Baby", cursive;
   font-size: 24px;
   letter-spacing: 2px;
   line-height: 28px;
   text-align: start;
   /* color: rgb(193, 247, 249); */
   color:#3e3f3f;
  top: 45%;

}

.wedding-date {
   font-size:10px;
   display: inline;
   
}

/*Our Story Section*/



#our-story {
   display: flex;
   flex-direction: column;
   font-family: "Montserrat", sans-serif;


}

#welcome {
   margin-top: 20px;
   text-align: center;
   color: #312D24;
   
}
#welcome div{
   padding: 20px 15px;
}
.welcome-title {
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-weight: 400;
      
}

#welcome h2 {
   
   font-size: 12px;
   letter-spacing: 2px;
   line-height: 20px;
   font-weight:400;
   text-transform: uppercase;
   
}

#svg-mark {
   text-align: center;
   padding: 30px 0;
}

.our-story p {
  font-family: "Montserrat", sans-serif;
   padding: 5px 10px;
   margin: 10px 5px;
   letter-spacing: 2px;
   line-height: 20px;
   font-size: 12px;   
   color: #312D24;
   text-align: center;
}

.our-story h2 {
   font-family: "Lato", sans-serif;
   color: rgb(79, 78, 78);
   padding: 5px 10px;
   margin: 5px;
}

.our-story {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.our-story-message1 {

   padding: 0 10px;
  
   text-align: center;
  
}

.our-story-message2 {
   text-align: center;
   padding: 0 10px;
   
 
}


.image {
   display: flex;

   flex-wrap: wrap;
   justify-content: center;
   padding: 5px;


}

.image img {

   margin-top: 5px;
   padding: 5px;
   width: 250px;

}




/*Details Section*/
#details {

   
   font-family: "Montserrat", sans-serif;
   display: flex;
   flex-direction: column;
   text-align: center;


}


#details h2 {
   margin: 15px 0;
   font-size: 16px;
   font-family:"Lato", sans-serif;
   text-align: center;

}

.text-fade {
   border-top: 0.8px solid rgba(179, 179, 179, 0.73);
   font-family:"Lato", sans-serif;
   text-align: start;
 text-decoration: underline;
 text-transform: uppercase;
 letter-spacing: 2px;
   font-size: 10px;
   margin: 20px;
   padding: 20px 10px;
   
}


.text-details {
   font-size: 12px;
   line-height: 30px;
   letter-spacing: 2px;
   text-align: center; 
   padding: 0 10px;
}

.where-when {
   
   text-align: center;
   line-height: 20px;
   letter-spacing: 2px;
   font-size: 12px;
   padding: 20px 10px;
}

.where-when h3 {
   margin: 15px 0;
   font-family: "Lato", sans-serif;
   font-size: 16px;

}

/*Gallery Section*/
#gallery>h2 {
   border-top: 0.8px solid rgba(179, 179, 179, 0.73);
   padding: 10px 0;
   
}

#gallery h2 {
   text-align: center;
   color: rgb(79, 78, 78);
}

.photos img {
   width: 100%;
}

.photos {
   line-height: 0;
   padding: 10px;
}

/*RSVP Section*/
#rsvp {
   background-color: #5794b0;
}
/*Footer Section*/
footer {
  background-color:  rgb(185, 232, 252);
   
 
}
.footer {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   padding: 20px 15px;
}

#social-networks {
   display: flex;
   list-style-type: none;
   
}

#social-networks i {
   padding-right: 15px;
   color: #3a3a3a;;
   font-size: 24px;
}

/*Media query: Large or landscape phones (576px and up)*/
@media screen and (min-width:576px) {
   .photos {
      column-count: 2;
      column-gap: 1;
      line-height: 2;
      padding: 0 15px;
   }

   #gallery h2 {
      font-size: 2.4rem;
      text-align: center;
      color: rgb(79, 78, 78);
   }

   .our-story-message1 h2,
   .our-story-message2 h2 {
      margin: 10px 5px 5px 5px;
   }

   .our-story-message1 p,
   .our-story-message2 p {
      padding: 2px 10px;
      text-align: justify;
      letter-spacing: 1.2;
   }



}


/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {



   #menu li {
      font-size: 26px;
   }

   .nav-bar-label {
      margin-right: 38px;
   }

   /* Make "Amanda & Marcus" heading bigger*/
   .couple-text {
      font-size: 3rem;

   }

   .wedding-date {
      font-size: 1rem;
   }

   .our-story {
      display: flex;

      justify-content: space-between;
   }

   #our-story p {
      box-shadow: none;
      width: 50%;

   }

   #our-story h2 {
      margin-top: 20px;
      padding-bottom: 10px;
   }

   .our-story-message2 p {
      margin-bottom: 10px;
   }



   .our-story-message1 p,
   .our-story-message1 h2 {
      justify-self: start;

   }

   .our-story-message2 p,
   .our-story-message2 h2 {
      justify-self: end;

   }

   .our-story-message1 {

      padding: 0 10px;
      margin: 0;
      text-align: center;

   }

   .our-story-message2 {
      text-align: center;
      padding: 0 10px;
      margin-bottom: 10px;

   }




}

/*Media Query: laptop and desktop (992px and up)*/
@media screen and (min-width: 992px) {

   .photos {
      column-count: 3;
      column-gap: 1;
      line-height: 3;
      padding: 20px;
   }

   nav {
      margin: 0;
      position: relative;
      display: block;
      box-shadow: none;
   }

   /*Make the list show in a row instead of colunm*/
   #menu {
      display: flex;
   }


   #menu a {
      font-size: 2rem;
      padding: 0 15px;

   }
   .our-story-message2 h2,
   .our-story-message1 h2{
      justify-self: center;
      
   }

   .nav-bar-label {
      display: none;
   }

   /* Make "Amanda & Marcus" heading bigger*/
   .couple-text {
      font-size: 3.8rem;
   }

   .wedding-date {
      font-size: 1.4rem;
   }

   .our-story {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   #our-story p {
      width: 100%;
   }

   .our-story-message1 {

      padding: 0 10px;
      margin: 0;
      text-align: justify;
   }

      .our-story-message2 {
         text-align: justify;
         padding: 0 10px;
         margin-bottom: 10px;

      }     


   }

   /*Media query: Desktop with larger screen (1250px and up)*/
   @media screen and (min-width: 1250px) {

      .photos {
         column-count: 4;
         column-gap: 30px;
         line-height: 4;
         padding: 0 30px;
      }

      /*Make the hero image position better*/
      #home {
         background: url("../images/hero-image2.jpg") no-repeat 40% 5%/cover;
         background-attachment: fixed;


      }

      .couple-text {
         font-size: 4rem;

      }
   } 